<div ng-controller="deleteCtrl">
    <div class="table-cont">
        <table class="table-dark table-bordered w-100 text-center">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Rating</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in data | filter: test">
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.category}}</td>
                <td>{{x.rating}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="deleteCont text-center mt-4">
        <h3 class="text-light">DELETE</h3>
        <form ng-submit="delete()" class="d-flex flex-column" style="gap: 10px">
            <select name="selId" id="selId" ng-options="x.id for x in data" ng-model="id">
                <option value="#" selected>Choose ID</option>
            </select>
            <button type="submit" class="btn btn-outline-light mt-4">Delete</button>
        </form>
    </div>
</div>