<div ng-controller="updateCtrl">
    <div class="table-cont">
        <table class="table-dark table-bordered w-100 text-center">
            <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Rating</th>
            </thead>
            <tbody>
            <tr ng-repeat="x in datas | filter: test">
                <td>{{x.id}}</td>
                <td>{{x.name}}</td>
                <td>{{x.category}}</td>
                <td>{{x.rating}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="updateCont text-center mt-4">
        <h3 class="text-light">UPDATE</h3>
        <div class="updateForm">
            <form ng-submit="update()" class="d-flex flex-column" style="gap: 10px">
                <select name="selId" id="selId" ng-options="x.id for x in datas" ng-model="id" ng-change="getId()">
                    <option value="#" selected>Choose ID</option>
                </select>
                <input type="text" name="name" id="name" ng-model="name" placeholder="Enter Name" class="input-group">
                <input type="text" name="category" id="category" ng-model="category" placeholder="Enter Category" class="input-group">
                <input type="text" name="rating" id="rating" ng-model="rating" placeholder="Enter Rating" class="input-group">
                <button type="submit" class="btn btn-outline-light mt-4">Update</button>
            </form>
        </div>
    </div>
</div>